<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>能源</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="/orde-service/api/v1/order/save">
    <input type="text" th:value="${token}" name="token" />token<br>
    <input type="hidden" name="userId" value="1"><by>
    <input type="hidden" name="productId" value="1"> <by>
    <input type="submit" value="提交">
</by>
</form>
</body>
</html>